[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = ">=0.115.5"
granian = "==1.6.4"
orjson = "==3.10.12"
pydantic-settings = "==2.6.1"
pydantic = "==2.10.1"
sqlalchemy = {extras = ["asyncio"], version = "==2.0.36"}
asyncpg = "==0.30.0"
alembic = "==1.14.0"
email-validator = "==2.2.0"
bcrypt = "==4.2.1"
pyjwt = {extras = ["crypto"], version = "==2.10.1"}
celery = {extras = ["librabbitmq"], version = "==5.4.0"}
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
aiohttp = "*"

[dev-packages]
granian = {extras = ["reload"], version = "==1.6.4"}
ruff = ">=0.11.7"

[requires]
python_version = "3.13"
